*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /*font-family: 'Open Sans', sans-serif;
   font-family: 'Roboto Condensed', sans-serif;*/
}

.btn{
    font-size: 25px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: orangered;
    transition: all 0.3s;
}
.btn:hover{
    color: black;
    background-color: white;
}

/*HEADER CLASS STYLE*/
.header{
    height: 70vh;
    background-color: #FFF8F3;
    background-image: url("./file/port1.jpg");
    

}

/*STYLING OF NAVMENU STATRS */

nav{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 200px;
    
}

.name{
    font-size: 40px;
    padding-top: 15px;
    
}

.primary{
    color: orangered;
}
.nav-menu>ul {
    display:flex;

    align-items: center;
    
}

.nav-menu ul li a{
    color: black;
    font-size: 20px;
    margin: 25px;
    padding: 10px;
}    
.nav-menu ul li a:hover{
    background-color:black;
    color:white;
    border-radius: 10px;
}

.banner{
    padding: 30px 30px 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 300px;
    margin: 20px;
    
    
}
.ban-gre{
    margin: 10px 0;
    font-size: 30px;
}

.ban-name{
    margin: 10px 0;
    font-size: 40px;
}
.ban-para{
    margin-bottom: 20px;
}