*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
   font-family: 'Roboto Condensed', sans-serif;
}

.btn{
    font-size: 25px;
    border: none;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: orangered;
    transition: all 0.3s;
}
.btn:hover{
    color: black;
    background-color: white;
}

/*HEADER CLASS STYLE*/
.header{
    height: 70vh;
    background-color: #FFF8F3;
    background-image: url("./file/port1.jpg");
    

}

/*STYLING OF NAVMENU STATRS */

nav{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 200px;
    
}

.name{
    font-size: 40px;
    padding-top: 15px;
    
}

.primary{
    color: orangered;
}
.nav-menu>ul {
    display:flex;

    align-items: center;
    
}

.nav-menu ul li a{
    color: black;
    font-size: 20px;
    margin: 25px;
    padding: 10px;
}    
.nav-menu ul li a:hover{
    background-color:black;
    color:white;
    border-radius: 10px;
}

.banner{
    padding: 30px 30px 0 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 300px;
    margin: 20px;
    
    
}
.ban-gre{
    margin: 10px 0;
    font-size: 30px;
}

.ban-name{
    margin: 10px 0;
    font-size: 40px;
}
.ban-para{
    margin-bottom: 20px;
}


/*section of about and main styling statrs from here*/

main{
    max-width: 1120px;
    margin: 0 auto;
}
.about-me{
    color: white;
    background-image: url("./file/Untitled.jpg");
    background-color: #FFF8F3;
    margin: 130px;
    padding: 10px;
}


.about-title{

    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-top: 10px ;
}

.about-para{
    padding-top: 10px;
    font-size: 18px;
    
    text-align: center;
    text-align: justify;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

.info1{
    text-align: center;
}
.fuul{
    margin-top: 5px;
}

/*SECTION OF WHYAT I DO STYLING IS STARTED*/

#what-para{
    padding: 30px 150px;
}

.skill-img{
    width: 50px;
}

.skills-info{
    width: 200px;
    text-align: center;
    color: black;
    
}
.skill-title{
    
    padding: 10px 0;
}
.skill-desc{
    
}

.skills-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:0 10px;
}

.what-i-do{
 margin-bottom: 30px;
 padding-bottom: 20px;
    background-color: cadetblue;
}


/*STYLE OF RESUME */
.summary{
    text-align: center;
    padding: 20px 0;
}

.resume-title{
 
    padding-left: 50px;
    padding-right: 10px;


}
.resume-edu-exp{
     font-size: 30px;
     text-align: center;
}

.edu-exp-title{
    padding-top: 15px;
}
.quality{
    padding: 15px 0;
    text-align: justify;
    
}

.resume-container{
    
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
}

#resume{
    background-color: #FFF8F3;
}

.download-cv{
    text-align: center;
    margin: 20px 0;
}

.footer{
    background-image: url(./file/back.jpg);
    margin: 130px 80px 80px 80px;
    display: flex;
    justify-content: space-around;
    background-color: #FFF8F3;
    height: 60vh;

}

.form input{
    display: block;
    margin: 15px ;
    text-align: center;

}
.mass-me{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 15px;
    
}
#name{
    border: none;
    font-size: 30px;
    border: 1px solid orangered;
    border-radius: 0.6rem;
    padding: 5px;
    margin-top: 10px;
}

#field{
    border: none;
    border-radius: 0.6rem;
    border: 1 px solid orangered;
    padding-left: 10px;
    margin-left: 10px;
    padding: 10px 0;
}

.my-btn{
    margin: 10px;
}

.para111{
    padding-top: 10px;
    text-align: center;
    padding-bottom: 15px;
}

#social{
    margin-top: 15px;
    margin-right: 5px;
    margin-bottom: 150px;
}



.hire-container{
    align-items: center;
    
    
   
    display: flex;
    justify-content: space-around;
}

.qualifi label{
    display: block;
    margin: 100px 0;
}

#lang{
    font-size: 30px;
    padding: 5px;

}

.hehe{
    text-align: center;
}
.for-hire{
    padding: 15px;
    font-size: 20px;
    color: aqua;
}
header{
    background-color: blueviolet;
}