

@media screen and (max-width:576px) {
    nav{
        
        flex-direction: column;
        text-align: center;
        align-items: center;
        
        
    }

        .header{
            background-image: none;
            background-color: antiquewhite;
        }


    .nav-menu ul{
        display:grid;
        flex-direction: column;
    }

    
  .nav-menu ul li {
          padding-top: 30px;
          
          
  }
  

.banner{
    
    flex-direction: column;
    
    padding: 20px;
    
}

    .my-img img{
     
   width: 100%;



    }



.about-me{
    background-color: white;
    background-image: none;
    color:black;
    margin: 20px;
}
.about-info-container{
display: grid;



}



.info1{
    padding: 10px 0;
}
.about-para{

}



#what-para{
    padding: 20px;
}




.skills-container{
flex-direction: column;



}
.skills-info{
    text-align: center;
    padding: 15px 10px;
}



.resume-container{
    flex-direction: column;
}



.footer{
    background-image: none;
    flex-direction: column;
    text-align: center;
    background-color: black;
    color: white;

    margin:0px;
   

}


.contact-link{
    
}


#name{
    font-size: 20px;
}
.form{
    text-align: center;
}

}